.navbar{
    display: flex;
    
    flex-direction:row;
    justify-content:space-around;

}
ul{
    list-style:none;
    background-color:chocolate;
    padding:10px;
}
li{
    background:white;
    padding:10px;
    border-radius:10px;
}
li:hover{
    background-color: white;
}